body, html{
    width: 98%;
    height: 98%;
    background-color: lightskyblue;
    font-family: Great Vibes, cursive;
}    
#main{
    width: 1100px;
    height: 835px;
    border: 5px solid white;
    border-color: white;
    position: relative;
    top: 0px;
    left: 400px;
}
#vlogo{
    width: 150px;
    height: 150px;
    position: relative;
    top: 0px;
}
#clogo{
    width: 150px;
    height: 150px;
    position: relative;
    top: 0px;
    left: 800px;
}
#vcet{
    position: relative;
    top: -150px;
    left: 160px;  
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    font-family: Great Vibes, cursive;
}
#dept{
    position: relative;
    top: -10px;
    left: 175px;  
    font-size: 25px;
    line-height: 1.4;
    font-weight: bold;
    font-family: Great Vibes, cursive;
}
#class{
    position: relative;
    top: -10px;
    left: 20px;  
    font-size: 25px;
    line-height: 1;
    font-weight: bold;
    font-family: Great Vibes, cursive;
}
#batch{
    position: relative;
    top: -63px;
    left: 800px;  
    font-size: 25px;
    line-height: 1;
    font-weight: bold;
    font-family: Great Vibes, cursive;
}
h1{
    position: relative;
    top: -50px;
    left: 370px;
}
#table{
    border: 3px solid white;
    position: relative;
    top: -20px;
    left: 150px;
    font-size: 25px;
}
th{
    width: 50px;
    height: 15px;
    font-weight: normal;
    font-size: 25px;
}
td{
    width: 50px;
    height: 15px;
    font-weight: lighter;
    position: relative;
    left: 0px; 
}
h2{
    position: relative;
    top: 0px;
    left: 160px;
    color: white;
}
#anc{
    color: red;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: -115px;
    left: 800px;
}